<p id="notice"><%= notice %></p>

<h1>Posts of <%= @user.email %></h1>

<table>
  <thead>
    <tr>
      <th>Author user</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr id="post_<%=post.id%>">
        <td><%= post.author_user_id %></td>
        <td id="post_title_<%=post.id%>"><%= post.title %></td>
        <td id="post_body_<%=post.id%>"><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
