<!DOCTYPE html>
<html>
  <head>
    <title>TheAnnoyingBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <div data-behavior="vue">
      <navbar 
      :root="<%= root_path.to_json %>"
      :links="[{'path': <%= about_path.to_json %>, 'title': 'About me'}]"
      :drop-down-links="[<%= root_path.to_json %>, <%= about_path.to_json %>]"
      :separated-drop-down-links="[<%= root_path.to_json %>, <%= about_path.to_json %>]">
      </navbar>
      <%= yield %>
      <%= link_to 'home', root_path %>
    </div>
  </body>
</html>
